html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@font-face {
  font-family: "Messapia";
  src: url("./fonts/Messapia-Regular.woff2") format("woff2"),
    url("./fonts/Messapia-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Messapia";
  src: url("./fonts/Messapia-Bold.woff2") format("woff2"),
    url("./fonts/Messapia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "GT America Expanded Regular Trial";
  src: url("./fonts/GT-America-Expanded-Regular-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "GT America Expanded Medium Trial";
  src: url("./fonts/GT-America-Expanded-Medium-Trial.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "GT America Expanded Bold Trial";
  src: url("./fonts/GT-America-Expanded-Bold-Trial.woff2") format("woff2");
  font-weight: normal;
  font-style: bold;
  font-display: block;
}

@font-face {
  font-family: "GT America Mono Regular Trial";
  src: url("./fonts/GT-America-Mono-Regular-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "GT America Mono Regular Italic Trial";
  src: url("./fonts/GT-America-Mono-Regular-Italic-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "W95FA";
  src: url("./fonts/w95fa.woff2") format("woff2"),
    url("./fonts/w95fa.woff") format(woff);
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

body {
  scrollbar-color: black;
}
